@font-face {
    font-family: "mowed_the_dog";
    src: url("fonts/MowedTheDog-Regular.otf") format("opentype");
}

.nav_a {
    text-decoration: none;
    font-size: 1.5rem;
    margin: .5rem;
}

.nav_a:link {
  color: #105041;
  cursor: auto;
}

.info {
    width: 50%;
    margin: 1%;
}

.nav_a:hover {
    color: rgb(4, 48, 71);
    text-decoration: underline;
}

.nav_a:visited {
    color: #105041;
}

.nav_a:link:active {
    color: #062989;  
}

#current {
    color: #2d2597;
}

li {
    font-size: 1.2rem;
}

.handheld_title {
    text-align: center;
    font-size: 3.5rem;
}

.handheld_sep {
    width: 3.5%;
}

body {
    font-family: "mowed_the_dog", serif;
    background-color: #75A99D;
    color: #000000;
}

nav {
    text-align: center;
}

.white_img {
    border-radius: 15px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.white_img {
    transition: transform 0.5s;
}

.white_img:hover {
    transform: scale(1.2) rotate(10deg);
}

.oth_img:hover {
    transform: scale(1.05);
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.handheld {
    border-radius: 15px;
    margin: 15px 15px 30px 15px;
    padding: 15px;
}

.handheld:hover {
    border: 1px solid white;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

#ds {
    background-color: #797BA1;
}

#switch {
    background-color: #DB6B5D;
}

#vita {
    background-color: #DCA7BD;
}

#playdate {
    background-color: #E5BA8E;
}

#TDC {
    background-color: #BE9DA4;
}

#DJ {
    background-color: #B47F89;
}

#sdvx {
    background-color: #ccee6f;
}

#fishing {
    background-color: #3463ee;
}

#flipper {
    background-color: #9b6b9f;
}

#racing {
    background-color: #c68ba2;
}

#vr {
    background-color: #f7bb53;
}

#mobapads {
    background-color: #F1BD81;
}

#play_title, .play_detail, #play_sep {
    color: #7a3f04;
}

#ds_title, .ds_detail, #ds_sep {
    color: #151851;
}

#vita_title, .vita_detail, #vita_sep {
    color: #632e44;
}

#switch_title, .swtich_detail, #switch_sep {
    color: #6b1308;
}

#moba_title, .moba_detail, #moba_sep {
    color: rgb(185, 101, 5);
}

#DJ_title, .DJ_detail, #DJ_sep{
    color: #570f1c;
}

#TDC_title, .TDC_detail, #TDC_sep {
    color: #5d323c;
}

#sdvx_title, .sdvx_detail, #sdvx_sep {
    color: #6d8726;
}

#fishing_title, .fishing_detail, #fishing_sep {
    color: #0c2571;
}

#flipper_title, .flipper_detail, #flipper_sep {
    color: #4a1f4e;
}

#racing_title, .racing_detail, #racing_sep {
    color: #582036;
}

#vr_title, .vr_detail, #vr_sep {
    color: #885b0d;
}

#playdate_img {
    width: 25vw;
    margin-left: 1rem;
}

#ds_img {
    margin-left: 1rem;
    width: 20vw;
}

#vita_img {
    margin-left: 1rem;
    height: 25vh;
}

#switch_img {
    margin-left: 0.5rem;
    height: 35vh;
}

#sdvx_img {
    margin-left: 0.5rem;
    width: 50vw;
}

#racing_img {
    margin-left: 0.5rem;
    width: 40vw;
}


#title {
    margin: 10px 0 0 0;
    color: #105041;
    text-align: center;
    font-size: clamp(1rem, 15vw, 12vh);
}

#subtitle {
    color: #212826;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(1rem, 2vw, 4vh);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }